version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12
    filters:
      branches:
        only:
          - master
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Yarn install
          command: yarn
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Install Expo CLI
          command: yarn global add expo-cli
      - run:
          name: Lint project files
          command: yarn lint
      - run:
          name: Login into Expo and publish to staging
          command: |
            yarn expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD --non-interactive
            yarn expo publish --non-interactive --max-workers 1 --release-channel testing
